<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add student</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>

        <form>
            <div class="modal-body p-4">
                <!-- Full Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="full_name_add" class="form-control" required />
                  <label class="form-label" for="full_name_add">Full Name</label>
                </div>
              
                <!-- Direction input -->
                <div class="form-outline mb-4">
                  <input type="text" id="direction_add" class="form-control" required />
                  <label class="form-label" for="direction_add">Direction</label>
                </div>

                <!-- Level input -->
                <div class="form-outline mb-4">
                  <input type="text" id="level_add" class="form-control" required />
                  <label class="form-label" for="level_add">Level</label>
                </div>

                <!-- Image input -->
                <div class="form mb-4">
                  <label class="form-label mb-0 ms-1" for="image_add">Image</label>
                  <input type="file" id="image_add" class="form-control" required />
                </div>

                <!-- Status checkbox -->
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value=1 id="status_add" />
                  <label class="form-check-label" for="status_add">Active</label>
                </div>

            </div>
            
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
      </div>
    </div>
</div>