<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content pb-3">
        <div class="modal-body m-4">
            <form class="d-flex flex-column text-center">
                <h3 class="my-3">Are you sure?</h3>
                <div>
                    <input type="text" id="deleteModalInput" hidden>
                    <button type="button" class="btn btn-primary me-2" data-mdb-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>